<div class="container">
	<div class="row">
		<h3>利用規約画面</h3>
	</div>
	<div class="row">
		<h4>利用規約</h4>
	</div>
	<div>
		<%= link_to "同意する", new_online_registration_path %>
		<%= link_to "同意しない", :back %>
	</div>
</div>
