<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h4>演習解答</h4>
      </div>
      <div class="card-body">
        <% @questions.each do |question| %>
          <figure>
            <img src='/assets/<%= question.title %>' alt="" width='100%'>
          </figure>
        <% end %>
      </div>
      <div class="card-footer bg-transparent">
        <div class="text-center">
          <%= link_to "一覧画面に戻る", math_iib_first_index_path, class: "btn btn-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
