<div>
  <h2>Sign up(complete)</h2>
</div>

<div>
  <p>登録が完了しました。</p>
</div>

<div>
  <p>ご登録いただいたメルアドレスに確認メールを送信いたしました。</p>
  <p>受講生様には、ログイン初回パスワードを、保護者様にはお支払い案内をお送りいたしました。</p>
  <p>入金完了後、受講生番号を発行いたしますので、パスワードを大事に保管ください。</p>
  <p>メールが届かない場合は下記お問い合わせ先までご連絡願います。</p>
</div>
