<div class="row">
	<div class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
		<div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h4>登録完了</h4>
      </div>
      <div class="card-body">
      	<p>ご登録いただいたメールアドレスに確認メールを送信いたしました。</p>
			  <p>受講生様には、ログイン初回パスワードを、保護者様にはお支払い案内をお送りいたしました。</p>
			  <p>入金完了後、受講生番号を発行いたしますので、パスワードを大事に保管ください。</p>
			  <p>メールが届かない場合は下記お問い合わせ先までご連絡願います。</p>

        <div class="actions d-grid gap-2 col-8 mx-auto">
          <%= link_to "ログインページ", new_online_session_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
