<p><%= @resource.first_name %> <%= @resource.last_name %> 様</p>

<p>パスワード再設定のご依頼を受け付けました。</p>
<p>
	下記の専用リンクにアクセスし、パスワード変更手続きを続行してください。<br>
	※パスワードの再設定は、下記のリンクから新しいパスワードを登録するまで完了しません。
</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
	また、メール内のリンクの有効期限は6時間です。<br>
	期限内に設定されなかった場合はリンクが無効になりますので、<br>
	再度手続きをお願いいたします。
</p>

<p>
	本メールにお心当たりのない方は、<br>
	お手数をおかけしますが破棄していただきますようお願い申し上げます。
</p>
