<p><%= @online.first_name %> <%= @online.parent_name %> 様</p>
<p>説明・注意事項の確認が完了しました。</p>
<p>
  以下の通り、受講料のお振込みをお願いいたします。<br>
  振込手数料につきましては、保護者様のご負担でお願いしております。ご了承ください。
</p>
<p>
  振込先：以下の3つの金融機関からご選択ください。<br>
    &emsp;① ゆうちょ銀行 14450-12098621 (店名:四四八) 普通 イナリマコト<br>
    &emsp;② 三井住友銀行 京都支店 普通 イナリマコト 口座番号7206876<br>
    &emsp;③ 三菱UFJ銀行 東向日町支店 普通 イナリマコト 口座番号0162921<br>
  お振込名義：<%= @online.kana_name %><br>
  金額：40,000円(22回分)　または　10,000円 (5回分)<br>
  期日：申請日から14日
</p>
<p>◆注意◆ お振込み名義には必ず受付番号と受講者様のお名前をご記入ください。</p>
<p>
  [お振込み金額について]<br>
  1クラス(22回分で最長約半年間)の受講料は40,000円ですが、初回のみ、お試しとして最初の5回分の10,000円をお支払いいただいても構いません。<br>
  いずれの場合も、一度お支払いいただいた受講料の返金はいたしかねます。<br>
  10,000円をお支払いいただく場合は、3回分が終了した時点で残額のお支払いについてご連絡いたします。
</p>
<p>
  [お振込み期日について]<br>
  期日は本日から2週間後となっております。期日を過ぎた場合は、お手数ですが再度受講申し込みを行ってください。
</p>
<p>お振込みいただいた後、3営業日以内に登録完了のご連絡をさせていただきます。</p>
<p>稲荷塾</p>
