<h1>Math::IaFirst#exercise_answer</h1>
<p>Find me in app/views/math/ia_first/exercise_answer.html.erb</p>

<% for id in @id do %>
	<figure>
		<img src='/assets/math_iaf_exercise_answer_<%= id %>.png' alt="">
	</figure>
<% end %>

<div>
	<%= link_to "index", math_ia_first_index_path %>
</div>