<h1>Math::IaFirst#exercise</h1>
<p>Find me in app/views/math/ia_first/exercise.html.erb</p>

<% for id in @id do %>
	<figure>
		<img src='/assets/math_iaf_exercise_<%= id %>.png' alt="">
	</figure>
<% end %>

<div>
	<%= link_to "index", math_ia_first_index_path %>
	<%= link_to "next", math_ia_first_path, :method => :put %>
</div>