<h1>Math::IaFirst#test_answer</h1>
<p>Find me in app/views/math/ia_first/test_answer.html.erb</p>

<% for id in @id do %>
	<figure>
		<img src='/assets/math_iaf_test_answer_<%= id %>.png' alt="">
	</figure>
<% end %>