<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h4>テキスト解答</h4>
      </div>
      <div class="card-body">
        <% @question.each do |question| %>
          <figure>
            <img src='/assets/<%= question.title %>' alt="" width='100%'>
          </figure>
        <% end %>
        <div class="mt-4 d-flex justify-content-center">
          <%= paginate @question, window: 1, params_name: "learning" %>
        </div>
      </div>
      <div class="card-footer bg-transparent">
        <div class="text-center">
          <%= link_to "一覧画面に戻る", math_ex1_second_index_path, class: "btn btn-link" %>
          <% if @question.last_page? %>
            <%= link_to "演習問題へ進む", math_ex1_second_exercise_path, class: "btn btn-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
