<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    <div class="card margin-vertical-20">
      <div class="card-header text-center">
        <h4>テスト解答</h4>
      </div>
      <div class="card-body">
        <% @questions.each do |question| %>
          <figure>
            <img src='/assets/<%= question.title %>' alt="" width='100%'>
          </figure>
        <% end %>
      </div>
      <div class="card-footer bg-transparent">
        <div class="text-center">
          <%= link_to "一覧画面に戻る", math_ia_second_index_path, class: "btn btn-link" %>
          <!-- 単元テストの条件分岐 -->
          <% if @parameter != 8 && @parameter != 15 && @parameter != 22 %>
            <%= link_to "演習問題へ進む", math_ia_second_exercise_path, class: "btn btn-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
